# Visual Studio
.Exercise1/exercise1handout/vs/
.Exercise1/data/
.Exercise1/common/
.Exercise2/exercise2handout/vs/
.Exercise2/data/
.Exercise2/common/
.
*.VC.db
*.VC.VC.opendb
*.user
*.suo
*.cache
*.pdb
*.exe
*.obj
*.o
*.dll
*.idb
*.ipch
*.log
*.tlog
*.lastbuildstate
*.class
*.vspscc
*.vssscc
*.tmp
*.csproj.user
Debug/
Release/

# Backup and hidden files
*~ 
*.tmp
*.bak
*.swp

# Package managers
packages/
